<div class="rodape">  
      <div class="d-flex justify-content-between mb-3 mt-3 rodape">
        <div class="p-2 bd-highlight"><p style="margin-top: 10px"><a href="https://books.google.com.br/books?id=GN7QDgAAQBAJ" class="text-light"  target="_blank" rel="noreferrer"><small>Consulte o livro</small></a></p></div>
        <div class="p-2 bd-highlight"><p style="margin-top: 10px"><small>2018 © </small><a href="https://github.com/dev-eritonsg" class="text-light"  target="_blank" rel="noreferrer"><small>Eriton Santos</small></a></p></div>
      </div>
</div>
