#cabecalho {
  background-color: var(--primary-color);
  color: var(--text-white);
  width: 100%;
  margin-bottom: 5px;
  box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 20%);
}

.logo {
  width: 40px;
  height: 40px;
  margin-top: -15px;
  margin-right: 10px;
}

.titulo {
  font-size: 2em;
  font-weight: 600;
}

.subtitulo {
  color: var(--bg-light);
  font-weight: 600;
  font-size: 1rem;
}
