#cabecalho {
  background-color: var(--primary-color);
  color: var(--text-white);
}

.logo {
  width: 40px;
  height: 40px;
  margin-top: -15px;
  margin-right: 10px;
}

.titulo {
  font-size: 2.5em;
  font-weight: 600;
}

.subtitulo {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 1rem;
}
