<header id="cabecalho">
  <div class="container pt-2 pb-2">
    <div class="row text-center">
      <div class="col-12">
        <a href="https://angular.io" target="_blank"> <img class="logo" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt="angularjs"/></a>
        <span class="titulo">Agenda de Contatos</span>
        <p class="subtitulo"><small>Projeo final do livro: Crie aplicações com Angular: O novo framework do Google</small></p>
      </div>
    </div>
  </div>  
</header>