  <h3 class="title">
    <i-bs class="title-icon" name="person-plus-fill"></i-bs>
    Cadastro de contato
  </h3>
  <hr>

  <div class="card">
    <div class="card-body">
      <form class="card-block" #frmCadastro="ngForm" (ngSubmit)="salvar(frmCadastro)">

        <div class="form-group mb-3" [class.has-success]="nome.valid" [class.has-danger]="nome.invalid">
          <label for="nome">Nome:</label>
          <input type="text" name="nome" [(ngModel)]="_contato.nome" #nome="ngModel" class="form-control form-control-sm" placeholder="Nome do contato"
            required>

          <div [hidden]="nome.valid	||	nome.pristine">
            <small [ngClass]="{'form-control-danger':	'nome.invalid	||	nome.drity',
                                        'form-control-feedback':	'nome.invalid	||	nome.drity'}">
              O nome é um campo obrigatório!</small>
          </div>
        </div>

        <div class="form-group mb-3" [class.has-success]="telefone.valid" [class.has-danger]="telefone.invalid">
          <label for="telefone">Telefone:</label>
          <input type="text" name="telefone" id="telefone" [(ngModel)]="_contato.telefone" #telefone="ngModel"
            [class.form-control-success]="nome.valid" class="form-control form-control-sm" placeholder="(99) 99999-9999" required>

          <div [hidden]="telefone.valid	||	telefone.pristine">
            <small [ngClass]="{'form-control-danger':	'telefone.invalid	||	telefone.drity',
                                        'form-control-feedback':	'telefone.invalid	||	telefone.drity'}">
              O telefone é uma campo obrigatório! </small>
          </div>
        </div>

        <div class="form-group mb-3">
          <label for="email">E-mail:</label>
          <input type="email" class="form-control form-control-sm" name="email" id="email" [(ngModel)]="_contato.email" #email="ngModel"
            placeholder="email@provedor.com">
        </div>

        <div class="form-group mb-3">
          <label for="tipo">Tipo:</label>          
          <ngx-select name="tipo" id="tipo" #tipoContato="ngModel" [size]="'small'" [allowClear]="false" [items]="tipos" [(ngModel)]="_contato.tipo" optionValueField="id" [placeholder]="'Selecione'" required >
          </ngx-select>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="frmCadastro.invalid">Cadastrar</button>
      </form>
      
      <div *ngIf="cadastrouContato" class="mt-3">
        <alert [type]="'success'" [dismissOnTimeout]="5000" #alertSuccess (onClosed)="onClosed(alertSuccess)">
          <i-bs class="alert-icon" name="check-circle-fill"></i-bs>
          <span style="margin-left: 5px;">O contato foi cadastrado.</span>    
        </alert>
      </div>
      
    </div>
  </div>
