<app-cabecalho></app-cabecalho>

<div class="dados-usuario">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <app-dados-usuario></app-dados-usuario>
      </div>
      <div class="col-8">
        <app-lista-usuarios [exibirLista]="exibirLista" (listaContatoEmitter)="alterarContatoSelecionado($event)"></app-lista-usuarios>
        <app-detalhes-usuario (exibirDetalheContatoEmitter)="exibirListaContatos($event)" [contato]="contatoSelecionado"></app-detalhes-usuario>
      </div>
    </div>
  </div>
</div>

<app-rodape></app-rodape>
